.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

*.aux
*.log
*.gz

transfer_files.R
osf_update.R

data/thayer_stevens_data1.csv
data/thayer_stevens_data2.csv

docs/thayer_stevens.Rmd
docs/thayer_stevens_SM.Rmd

docs/thayer_stevens_2021_files/
docs/thayer_stevens_2021_SM_files/

R/thayer_stevens_rcode.R

